{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<section id="item-container">
    <div class="gallery">
        <div class="item">
            <img src="/static/images/Raf Simons Sweater.webp" alt="">
            <p class="name">NAME</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ab assumenda fuga
                recusandae quisquam beatae doloremque quod amet nihil iste? Voluptas laudantium quis nam expedita vitae
                consequatur maiores cumque porro?</p>
            <span class="price">$1000.00 USD</span>
            <button>Buy</button>

        </div>
        <div class="item">
            <img src="/static/images/Raf Simons Sweater.webp" alt="">
            <p class="name">NAME</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ab assumenda fuga
                recusandae quisquam beatae doloremque quod amet nihil iste? Voluptas laudantium quis nam expedita vitae
                consequatur maiores cumque porro?</p>
            <span class="price">$1000.00 USD</span>
            <button>Buy</button>


        </div>
        <div class="item">
            <img src="/static/images/Raf Simons Sweater.webp" alt="">
            <p class="name">NAME</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ab assumenda fuga
                recusandae quisquam beatae doloremque quod amet nihil iste? Voluptas laudantium quis nam expedita vitae
                consequatur maiores cumque porro?</p>
            <span class="price">$1000.00 USD</span>
            <button>Buy</button>

        </div>
        <div class="item">
            <img src="/static/images/Raf Simons Sweater.webp" alt="">
            <p class="name">NAME</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ab assumenda fuga
                recusandae quisquam beatae doloremque quod amet nihil iste? Voluptas laudantium quis nam expedita vitae
                consequatur maiores cumque porro?</p>
            <span class="price">$1000.00 USD</span>
            <button>Buy</button>

        </div>
        <div class="item">
            <img src="/static/images/Raf Simons Sweater.webp" alt="">
            <p class="name">NAME</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ab assumenda fuga
                recusandae quisquam beatae doloremque quod amet nihil iste? Voluptas laudantium quis nam expedita vitae
                consequatur maiores cumque porro?</p>
            <span class="price">$1000.00 USD</span>
            <button>Buy</button>

        </div>
        <div class="item">
            <img src="/static/images/Raf Simons Sweater.webp" alt="">
            <p class="name">NAME</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ab assumenda fuga
                recusandae quisquam beatae doloremque quod amet nihil iste? Voluptas laudantium quis nam expedita vitae
                consequatur maiores cumque porro?</p>
            <span class="price">$1000.00 USD</span>
            <button>Buy</button>

        </div>


    </div>

</section>
{% endblock %}