/* This is a single-line comment */
/* NAV BAR STYLES */
* {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

#movile-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    padding: 7px 10px;
}

#title {
    width: 100%;
}

#select-display {
    display: inline-block;
    border: none;
    background-color: inherit;
    margin: 0;
    padding: 5px 7px 2.5px 9px;
}

#select-display:hover {
    background-color: #F5F5F5;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.5);
}

.display-option a {
    display: flex;
    justify-content: left;
    margin: 3px;
    padding: 5px;
}

.display-option a:hover {
    background-color: #F5F5F5;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.5);
}

#main-nav-bar {
    display: flex;
    align-items: left;
    font-size: 35px;
    align-items: baseline;
    padding: 7px 10px;
}

#main-option-container {
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
}

#main-option-container a {
    width: auto;
    margin: 0 1rem;
}

#main-option-container a:hover {
    color: #1c2331;
}

#CS50 {
    display: flex;
    width: 100%;
    justify-content: end;
}

@media all and (min-width:800px) {
    #movile-nav-bar {
        display: none;
    }

    .display-option {
        display: none;
    }
}

@media all and (max-width:799px) {
    #main-nav-bar {
        display: none;
    }
}

/*New Releases styles */
#item-container {
    display: flex;
    width: 90%;
    border: 1px solid black;
    padding: auto;
    margin: auto;
}

.gallery {
    display: block;
    margin: auto;
    padding: auto;
}

.item {
    border: 1px solid red;
    display: inline-block;
    padding: 0 1rem;
    margin: 1rem 0;
    text-align: center;
}

.item img {
    width: 150px;
    height: 300px;
    object-fit: cover;

}

.item p,
span {
    margin: 5px 0;
}

.item button {
    margin: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}